<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="owp_event_list" path="/event">
        <default key="_controller">Owp\OwpEvent\Controller\EventController::list</default>
    </route>
    <route id="owp_event_show" path="/event/{slug}">
        <default key="_controller">Owp\OwpEvent\Controller\EventController::show</default>
    </route>
    <route id="owp_api_event" path="/api/event">
        <default key="_controller">Owp\OwpEvent\Controller\EventController::api</default>
    </route>
</routes>
