<a href="#" data-toggle="modal" data-target="#entry-help" class="text-info text-decoration-none mr-4">
    <i class="fa fa-question" aria-hidden="true"></i>
</a>
<div class="modal fade" id="entry-help" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Aide à l'inscription</h3>
            </div>
            <div class="modal-body">
                <p>
                    Il existe plusieurs modes d'inscription, disponibles selon le type de course et votre profil utilisateur.
                </p>
                <h5>Inscription rapide</h5>
                <p>
                    Permet de vous inscrire à la course en utilisant les informations de votre compte :
                    <ul>
                        <li>- Avec votre numéro de licence FFCO (pour les licenciés)</li>
                        <li>- Avec votre nom et prénom (pour les non licenciés)</li>
                    </ul>
                </p>
                <h5>Inscription par club</h5>
                <p>
                    Permet de visualiser l'ensemble des licenciés d'un club et de choisir qui inscrire
                </p>
                <h5>Inscription non licencié</h5>
                <p>
                    Permet de vous inscrire à la course en renseignant votre nom et prénom
                </p>
                <h5>Inscription d'une équipe</h5>
                <p>
                    Permet de vous inscrire votre équipe à la course en renseignant les différents équipiers, grâce à leurs numéro de licence ou directement en saissisant leurs noms et prénoms.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
